*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*fonts*/
.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*jpn font*/
*:lang(ja){
 font-weight: bold;
}

:root{
/*colors*/
    --red: rgb(201, 31, 31);
    --yellow: rgb(255, 244, 31);
    --yellowLight: rgba(255, 244, 31, .9);
    --bluePrimary: rgb(31, 38, 255);
    --blueCard: rgb(31, 38, 115);
    --white: rgb(240, 255, 255);
/*padding & margin*/
    --one: 8px;
    --two: 16px;
    --three: 24px;
    --four:40px;
}

/*homepage styling*/
body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 97vh;

}

main{
    flex-grow: 1;
}

footer{
    align-self: flex-end;
    display: flex;
}

h1{
    font-family: "Happy Monkey";
}

h3{
    display:inline;
}



/*flashcard mode*/
#fcCard, #mgCard{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: var(--one);
    height: 75vh;
}

#fcGameBoard{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#currentFC{
    background-color: darkslateblue;
    border: 15px double antiquewhite;
    color: antiquewhite;
    height:100%;

    aspect-ratio: 635/888;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
}

.hidden{
    visibility: hidden;
    position:absolute;
    top: -100px;
}

p{
    font-weight: bolder;
}

span{
    font-weight: lighter;
}