*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*fonts*/
.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*jpn font*/
*:lang(ja){
 font-weight: bold;
}

:root{
/*colors*/
    --red: rgb(201, 31, 31);
    --yellow: rgb(255, 244, 31);
    --yellowLight: rgba(255, 244, 31, .9);
    --bluePrimary: rgb(31, 38, 255);
    --blueCard: rgb(31, 38, 115);
    --white: rgb(240, 255, 255);
/*padding & margin*/
    --one: 8px;
    --two: 16px;
    --three: 24px;
    --four:40px;
}

/*homepage styling*/
body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 97vh;
    margin: var(--three);
}

header{
    display: flex;
}

h1{
    margin: var(--one) auto;
}

main{
    flex-grow: 1;
}

footer{
    align-self: flex-end;
    display: flex;
}

h1{
    font-family: "Happy Monkey";
}

h3{
    display:inline;
}



/*flashcard mode*/
#fcCard{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: var(--one);
    height: 75vh;
}

#fcGameBoard{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#currentFC{
    background-color: darkslateblue;
    border: 15px double antiquewhite;
    color: antiquewhite;
    height:100%;

    aspect-ratio: 635/888;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
}

.hidden{
    visibility: hidden;
    position:absolute;
}

.matched{
    opacity:.66;
}

.no-click{
    cursor: wait;
}

p{
    font-weight: bolder;
}

span{
    font-weight: lighter;
}

/*memory Match mode*/
#mmCard{
    display: flex;
    justify-items: space-between;
    align-items: center;
    max-height: 90vh;
    border: 10px inset brown;
   background-color: rgb(53, 101, 77);
}

#mmGameBoard{
    max-height: 100%;
    max-width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--one);
    padding: var(--one);
    overflow: auto;
    margin: auto;
}

.mmSlot{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    aspect-ratio:5/7;
    min-width: 100px;
}

.mmUp, .mmDown{
    border-radius: 20px;
    box-shadow: 2px 2px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    padding: .5em;
    height: 100%;
    width: 100%;
}

.mmUp{
    background-color: darkslateblue;
    border: 10px double antiquewhite;
    color: antiquewhite;
    text-orientation: upright;
    writing-mode: vertical-rl;
    
}

.mmDown{
    background-color: antiquewhite;
    border: 15px double darkslateblue;
    color: darkslateblue;
}

.mmDown p{
    font-size: clamp(.5em, 1em, 4em);
}

